/*Added during 1-on-1 with John. A minimal css reset he recommends (avoid 'Normalize' css resets wherever possible.)*/
* { margin:0; padding:0; box-sizing: border-box; }
body {
	background-color: #F7F7F7;
	color: #2E2E2E;
	font-size:16px;
}
header {
	text-align: center;
	font-family: Helvetica, arial, sans-serif;

}
header#splash {
	background-image: url("../images/cat-getting-care.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-position: center;
	height:95vh;
}
nav{
	padding: 1em;
	background-color: rgba(0,0,0,.3);
}
section {
	margin: 2em;
	padding:  1em;
	background-color: rgba(0,0,0,.1);
}
section#title {
	margin-top: 20%;
	background-color: rgba(0,0,0,0);
}
h1 {
	background-color: rgba(255,255,255,0);
	color: #1CCC69;
	font-family: Georgia, Times, serif;
	font-size:6em;
	line-height:.65em;
}
h1 span {
	font-family:helvetica, arial, sans-serif;
	font-size:.65em;
}
h2 {
	color: #439968;
}
p#slogan {
	color: #F7F7F7;
	font-size: 2em;
	margin: .5em auto .5em auto;
	width:15em;
}
nav ul {
	float:left;
}
nav li {
	display: inline;
}
nav a {
	margin: 1em;
	text-decoration: none;
	color: #F7F7F7;
}
nav p {
	float:right;
	text-align: right;
	color: #F7F7F7;
}
ul {
	margin-left:1em;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
