* { margin:0; padding:0; box-sizing: border-box;}
body {
	background-color: #F7F7F7;
	color: #2E2E2E;
	font-size:18px;
}
header {
	padding: 1em 0 0 0;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
header#splash {
	height: 75vh;
	background-image: url("../images/bunny-in-color.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
div.container {
	margin: 0 auto 0 auto;
	display: flex;
	flex-flow: column nowrap;
	max-width: 1200px;
}
section#title {
	margin: 12em auto 0 auto;
}
section.main {
	margin: 2em;
}
section.main > section {
	margin: auto 2em auto 0;
	width: 32em;
}
section.newPatients {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
section.services div {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
section.servicesItem {
	max-width: 24em;
}
section.servicesItem + section.servicesItem {
	margin-left: 2em;
}
section.contactUs {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}
h1 {
	margin: .5em auto .25em auto;
	line-height:.65em;
	background-color: rgba(255,255,255,0);
	color:#1CCC69;
	font-family: 'Libre Baskerville', serif;
	font-size:6em;
	/*font-size:6.72em;*/
}
h1 span {
	font-family: 'Montserrat', sans-serif;
	font-size:.64em;
}
h2 {
	font-family: 'Montserrat', serif;
	margin-bottom: .5em;
	color:#439968;
	font-size: 2.8em;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4em;
}
h4 {
	font-family: 'Libre Baskerville', serif;
	margin: 1.2em 0 1.2em 0;
	font-size: 1em;
	line-height: 1.4em;
}
img {
	width: 100%
}
section.servicesItem img{
	padding: 1em 4em;
}
section figure {
	width: 24em;
}
p {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.4em;
}
p#slogan {
	margin: .5em auto .5em auto;
	padding-bottom: 2em;
	width:17em;
	color:#F7F7F7;
	font-size:1.4em;
	line-height: 1em;
}
ul {
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}
li {
	margin-bottom: 1.6em;
}
nav{
	margin: 0 auto 0 auto;
	padding: 0 3em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background-color: rgba(0,0,0,.3);
	max-width: 1200px;
}
nav ul {
	margin: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
nav li {
	margin: 1em 3em 1em 0;
	display: inline;
}
nav a {
	text-decoration: none;
	color: #F7F7F7;
}
nav p {
	margin: 1em 0 1em auto;
	color: #F7F7F7;
}
footer {
	padding: 1em 2em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background-color: rgba(0,0,0,.1);
	text-align: center;
}
footer p{
	margin: 0 1em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 1em;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
