* { margin:0; padding:0; box-sizing: border-box;}
body {
	background-color: rgb(250,250,250);
	color: #212121;
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
	/*Firefox support only*/
    scroll-behavior: smooth;
}
header  {
	padding: 1em; 
	background-color: rgb(255,231,129);
}

/*Leading title styles*/
h1 {
	font-size: 2.4em;
	line-height: 1.2;
	font-weight: 700;
}
h1 span {
	font-size: 0.8em;
	font-weight: 400;
}

/*General page styles*/
article {
	margin: 0 1em;
}
section {
	margin-top: 1em;
	margin-bottom: 2em;
}
section span {
	font-style: italic;
}
h2 {
	margin-bottom: 0.8em;
	padding-bottom:  0.4em;
	border-bottom: 3px solid rgb(255,231,129);
	font-size: 2.4em;
	font-weight: 200;
	letter-spacing: 0.5px;
	line-height: 1.2;
}
h3 {
	margin-top: 1.4em;
	margin-bottom: .8em;
}
p{
	margin-bottom: 1em;
	line-height: 1.4em;
}
img { 
	display: block;
	width: 100%;
	height: 100%;
}
a {
	text-decoration: none;
	color: rgb(105,0,60);
}

/*link underline animation*/
a {
	display: inline-block;
}
a:after {
	content: "";
	display: block;
	height: 2px;
	width: 0;
	background: transparent;
	transition: width .25s ease, background-color .25s ease;
}
a:hover:after,
a:focus:after {
	width: 100%;
	background: rgb(105,0,60);
}

/*styles for board members info cards*/
figure {
	margin-bottom: 0.5em;
	display: flex;
	justify-content: flex-start;
	align-items: top;
	min-width: 16em;
}
figcaption {
	margin: 0.5em 1em;
}
figcaption h3 {
	margin-top: 0em;
	margin-bottom: 0.4em;
}
figcaption p {
	margin-bottom: 0.4em;
}
figcaption a {
	font-size: 0.9em;
}
figure img {
	display: inline;
	margin: 0.5em;
	max-width: 5em;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}

/*styles and behavior for primary navigation list at top of page*/
.main-nav ul {
	margin: 1em 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.main-nav li {
	margin: 0.3em 0.5em;
	padding: 0.4em;
	border-radius: .6em;
	background-color: rgba(255,231,129,.6);;
}
.main-nav li:hover,
.main-nav li:focus {
	border-radius: 0.5em;
	background-color: rgba(255,231,129,1);
	transform: scale(1.2, 1.2);
	transition-duration: 0.15s;
	-webkit-transition-duration: 0.15s; /* Safari */
}
.main-nav a {
	color: #212121;
}
/*removing link underline animation for nav items*/
.main-nav a:after,
.main-nav a:hover:after,
.main-nav a:focus:after {
	display: none;
}


/*styles for welcome list*/
.welcome li {
	margin: 0 1em 1em 1em;
}

/*styles and behavior for link to download HOA covenant PDF*/
.covenant-download {
	text-align: center;
	margin: 1.6em;
}
.covenant-download a {
	padding: 0.8em;
	display: inline-block;
	background-color: rgb(105,0,60);
	color: rgb(250,250,250);
	border-radius: 0.5em;
	border-style: none;
}
.covenant-download a:hover {
    transform: scale(1.2, 1.2);
	transition-duration: 0.15s;
	-webkit-transition-duration: 0.15s; /* Safari */
}
.adobe-alert {
	display: none;
}
/*removing link underline animation for download link*/
.covenant-download a:after,
.covenant-download a:hover:after,
.covenant-download a:focus:after {
	display: none;
}

/*lettering and styles for dues citation*/
.dues ul {
	margin: 0 1em;
	list-style: lower-latin;
}
.dues li {
	margin-bottom: 0.5em;
	line-height: 1.4em;
}

/*styles for google maps embeds*/
.google-maps {
	margin: 2em 0em 1em 0em;
	position: relative;
	padding-bottom: 75%;  /*This is the aspect ratio*/
	height: 0;
	overflow: hidden;
}
.google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}

/*styles for board members list*/
.board ol {
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
}
.board ol li {
	max-width: 18em;
}

/*styles for list of committees*/
.committees {
	margin: 1em 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.committees li {
	margin: 0.3em 0.3em;
	padding: 0.3em;
	border-radius: .6em;
	background-color: rgb(225,225,225);
}

/*styles for footer section*/
footer {
	padding: 1em;
	background-color: rgb(225,225,225);
	border-top: 3px solid #212121;
	font-size: .9em;
}
footer nav {
	margin-bottom: 1em;
	display: flex;
	justify-content: space-between;
}
footer ul {
	display: flex;
	flex-flow: column wrap;
	margin-right: 1em;
}
footer li {
	padding: 0.25em;
}
footer a {
	font-size: 1.1em;
	font-style: italic;
}

/*styles for devices in the tablet range*/
@media screen and (min-width: 440px) {
	header {
		background-color: rgba(255,231,129,.6);
		transform: translateY(-1em) skewY(2deg);
	}
	header div {
		margin: 0 auto;
		padding: 3em 1em;
    	width: 36em;
		transform: skewY(-2deg);

		background-image: url(../images/HoneyCreekBeeLogo-Sq.png);
		background-repeat: no-repeat;
		background-size: 40%;
		background-position: 75% -4em, center;
	}
	
	.container {
    	margin: 0 auto;
    	max-width: 36em;
    }

	/*styles for footer*/
    footer {
    	display: flex;
    	justify-content: flex-start;
    }
    footer nav {
    	margin-left: 2em;
		margin-bottom: 2em;
		flex-flow: column wrap;
    	justify-content: flex-start;
		min-width: 12em;
    }
	footer section {
		margin: 0 0 2em 0;
	}
}

@media screen and (min-width: 570px) {
	header div {
		background-position: 95% -4em, center;
	}
	.board ol {
		flex-flow: row wrap;
	}
	.board ol li {
		width: 17em;
	}
}

/*styles for devices in the tablet range*/
@media screen and (min-width: 767px) {
    body {
    	font-size: 18px;
    }

	/*styles for dues section*/
    .dues ul {
		margin: 0 2em;
	}
	
	.covenant-download:visited {
		.adobe-alert {
			display: visible;
		}
	}
}

/*styles for large screens*/
@media screen and (min-width: 1200px) {
    body {
    	font-size: 20px;
		line-height: 1.4em;
    }
	header div {
		background-position: 100% -5em, center;
	}
    
}