* { margin:0; padding:0; box-sizing: border-box; }
body {
	background-color: rgba(250,250,250,1);
	line-height: 1.5;
	font-size:18px;
}
h1 {
	margin-bottom: .5em;
	font-size: 3em;
	border-bottom: 3px black solid;
}
h2 {
	margin: .5em 0;
	font-size: 2em;
	border-bottom: 2px black solid;
}
p {
	margin: 0 3.2em 1em 3.2em;
	font-family: 'Garamond', 'Times New Roman', serif;
	font-weight: 300;
	font-size: 1.11em;
}
section {
	font-family: 'Poiret One', sans-serif;
}
/*home page portfolio links styles*/
section.bio img {
	margin-right: 1.4em;
	float: left;
}
section.homePortfolio {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: transparent;
}
section.homePortfolio ul{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	list-style: none;
}
section.homePortfolio a {
	margin: .3em;
	padding: 1em;
	display: block;
	/*blank porfolio images have been inserted for styling*/
	background-image: url("../images/portfolio/portfolio-blank4x4.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px;
	width: 12em;
	height: 12em;
	font-size: 1.4em;
	text-decoration: none;
}
header {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: transparent;
	float:left;
}
nav {
	margin-top: 5vh;
	padding:.25em;
	float: left;
}
nav ul{
	display: flex;
	flex-direction: column;
	list-style: none;
}
nav li {
	margin:.25em;
	border-radius: 5px;
}
nav a {
	display: block;
	background-color: transparent;
	padding: 1em;
	border: 2px rgba(0,0,0,0) solid;
	/*Possible typefaces Titles: Gotham Condensed Light, Poiret One, Signika, Oxygen
	Body: Raleway, Oxygen, Gotham;*/
	line-height: 1em;
	font-family: 'Poiret One', sans-serif;
	font-weight: bold;
	font-size: 1.6em;
	color: rgba(0,0,0,.7);
}
li.social {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}
li.social a {
	display: inline-block;
	padding: .5em;
	border-radius: 50%;
}
li.social img {
	width: 1em;
}
footer {
	margin: 2em 0 0 0;
	padding: 0 2em 1em 2em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
}
footer p{
	margin: 0 1em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1em;
}
a {
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: underline;
}
/*coloring for nav menu links*/
nav a:hover, nav a:focus {
	text-decoration: none;
}
nav li:nth-child(1):hover, nav li:nth-child(1):focus {
	background-color: rgba(255,188,103,.8);
}
nav li:nth-child(2):hover, nav li:nth-child(2):focus {
	background-color: rgba(229,120,133,.8);
}
nav li:nth-child(3):hover, nav li:nth-child(3):focus {
	background-color: rgba(184,115,139,.8);
}
nav li:nth-child(4):hover, nav li:nth-child(4):focus {
	background-color: rgba(197,174,229,.8);
}
/*coloring for nav social links*/
li.social a:nth-child(1):hover, li.social a:nth-child(1):focus {
	background-color: rgba(126,168,224,.8);
}
li.social a:nth-child(2):hover, li.social a:nth-child(2):focus {
	background-color: rgba(126,168,224,.5);
}
li.social a:nth-child(3):hover, li.social a:nth-child(3):focus {
	background-color: rgba(126,168,224,.2);
}
a#logo img {
	width: 18em;
}
body#home {
	background-image: url("../images/fifi.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}
div.container {
	margin: 2em 8em 1em 20em;
	display: flex;
	flex-flow: column nowrap;
}
div.portfolio {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
div.portfolioColumnLeft {
	display: flex;
	flex-flow: column wrap;
	align-items: flex-end;
}
div.portfolioColumnRight {
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
}
div.testimonials {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	font-style: italic;
}
div.testimonials span {
	display: block;
	text-align: right;
	font-style: normal;
}
div.testimonials p:first-child {
	margin: 0 0 1em 3.2em;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}