* { margin:0; padding:0; box-sizing: border-box;}
body {
	background-color: rgb(250,250,250);
	color: #212121;
 	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

/*Leading title styles*/
header  {
	background-color: rgb(255,231,129);
	overflow: hidden;
}
header svg {
	position: relative;
	z-index: 0;
	margin: -15em 0 -5em 50vw;
	width: 16em;
	border-radius: 4em;
}
header h1 {
	position: relative;
	z-index: 1;
	padding: 1rem;
	font-size: 1.6em;
	line-height: 1.2;
	font-weight: 700;
}
header h1 span {
	font-size: 0.8em;
	font-weight: 400;
}

/*General page styles*/
article {
	margin: 0 1rem;
}
section {
	margin-top: 1em;
	margin-bottom: 2em;
}
h2 {
	margin-bottom: 0.8em;
	padding-bottom:  0.4em;
	border-bottom: 3px solid rgb(255,231,129);
	font-size: 1.75em;
	font-weight: 200;
	letter-spacing: 1px;
}
h3 {
	margin-top: 1.4em;
	margin-bottom: .8em;
}
p{
	margin-bottom: 1em;
	line-height: 1.4em;
}
img { 
	display: block;
	width: 100%;
	height: 100%;
}
a {
	text-decoration: none;
	color: rgb(105,0,60);
}
ul, ol {
    list-style: none;
}

/*Styles for special text types*/
span.italic {
    font-style: italic;
}
span.invoices {
    text-decoration: underline;
}

/*styles and behavior for primary navigation list at top of page*/
.main-nav ul {
	margin: 1em 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.main-nav li {
	margin: 0.3em 0.5em;
	padding: 0.4em;
	border-radius: .6em;
	background-color: rgba(255,231,129,.6);
}
.main-nav li:hover,
.main-nav li:focus {
	border-radius: 0.5em;
	background-color: rgba(255,231,129,1);
	transform: scale(1.1, 1.1);
	transition-duration: 0.15s;
	-webkit-transition-duration: 0.15s; /* Safari */
}
.main-nav a {
	color: #212121;
}
/*removing link underline animation for nav items*/
.main-nav a:after,
.main-nav a:hover:after,
.main-nav a:focus:after {
	display: none;
}

/*styles for welcome list*/
.welcome ul {
	margin: 0 0 0 1.6em;

}
.welcome li {
	margin-bottom: 1em;
	list-style: square;
}

/*styles and behavior for link to download HOA covenant PDF*/
.covenant-download {
	text-align: center;
	margin: 1.6em;
}
.covenant-download a {
	padding: 0.8em;
	display: inline-block;
	background-color: rgb(105,0,60);
	color: rgb(250,250,250);
	border-radius: 0.5em;
	border-style: none;
}
.covenant-download a:hover {
    transform: scale(1.1, 1.1);
	transition-duration: 0.15s;
	-webkit-transition-duration: 0.15s; /* Safari */
}
.adobe-alert {
	display: none;
}
/*removing link underline animation for download link*/
.covenant-download a:after,
.covenant-download a:hover:after,
.covenant-download a:focus:after {
	display: none;
}

/*lettering and styles for dues citation*/
.dues ul {
	margin: 0 0 0 1.6em;
	list-style: lower-latin;
}
.dues li {
	margin-bottom: 0.5em;
	line-height: 1.4em;
}

/*styles for google maps embeds*/
.map figcaption {
    margin-top: 1em;
}

/*styles for board members info cards*/
.board figure {
    margin-bottom: 0.5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 16em;
}
.board figcaption {
    margin: 0.5em 1em;
}
.board figcaption h3 {
    margin-top: 0;
    margin-bottom: 0.4em;
}
.board figcaption p {
    margin-bottom: 0.4em;
}
.board figcaption a {
    font-size: 0.9em;
}
.board figure img {
    display: inline;
    margin: 0.5em 0.5em 0.5em 0;
    max-width: 5em;
    border-left: 3px solid rgb(255,231,129);
}
.board ol {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
.board ol li {
    max-width: 18em;
}

/*styles for list of committees*/
.committees {
	margin: 1em 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.committees li {
	margin: 0.3em 0.3em;
	padding: 0.3em;
	border-radius: .6em;
	background-color: rgb(225,225,225);
}

/*Styles for local government section*/
.government figure {
    display: block;
    position: relative;
    overflow: hidden;
	margin-bottom: 1.4em;
}
.government a {
    width: 100%;
}
.government figcaption {
    position: absolute;
    padding: 0.5em 1.6em;
    width: 100%;
    top: 0;
    background-color: rgba(235,235,235,0.5);
}
.government h3 {
    margin: 0;
    color: #212121;
    font-size: 1em;
}
.government p {
    margin: 0.5em 0 0 0;
    color: #212121;
    font-size: 0.8em;
    line-height: 1.2em;

}
/*Reset for link effects*/
.government a:after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    background: transparent;
    transition: none;
}

/*styles for footer section*/
footer {
	padding: 1em;
	background-color: rgb(225,225,225);
	border-top: 3px solid #212121;
	font-size: .9em;
}
footer nav {
	margin-bottom: 1em;
	display: flex;
	justify-content: space-between;
}
footer ul {
	display: flex;
	flex-flow: column wrap;
	margin-right: 1em;
}
footer li {
	padding: 0.25em;
}
footer a {
	font-size: 1.1em;
	font-style: italic;
}

/*link underline animation*/
a {
    display: inline-block;
}
a:after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .25s ease, background-color .25s ease;
}
a:hover:after,
a:focus:after {
    width: 100%;
    background: rgb(105,0,60);
}

/*styles for devices in the tablet range*/
@media screen and (min-width: 27em) {
	header {
		background-color: rgba(255,231,129,.6);
		transform: translateY(-1em) skewY(2deg);
	}
	header div {
		margin: 0 auto;
		padding: 3em 0;
    	width: 36em;
		transform: skewY(-2deg);
	}
	header h1 {
		font-size: 2em;
	}
	.container {
    	margin: 0 auto;
    	max-width: 36em;
    }
	.government h3 {
		font-size: 1.2em;
	}
	.government p {
		font-size: 1em;
		line-height: 1.2em;
	}

	/*styles for footer*/
    footer {
    	display: flex;
    	justify-content: flex-start;
    }
    footer nav {
    	margin: 0 0 2em 1.6em;
		flex-flow: column wrap;
    	justify-content: flex-start;
		min-width: 12em;
    }
	footer section {
		margin: 0 0 2em 1em;
	}
}

@media screen and (min-width: 35.5em) {
	header div {
		background-position: 95% -2em, center;
	}
	header h1 {
		font-size: 2.4em;
		line-height: 1.2;
		font-weight: 700;
	}
	header svg {
		margin: -15em 0 -5em 40vw;
		width: 24em;
		border-radius: 8em;
	}
	h2 {
		margin-bottom: 0.8em;
		padding-bottom:  0.4em;
		border-bottom: 3px solid rgb(255,231,129);
		font-size: 2.4em;
		font-weight: 200;
		letter-spacing: 1px;
	}
	.board ol {
		flex-flow: row wrap;
	}
	.board ol li {
		width: 17em;
	}
	.government figcaption {
		padding: 1em 2em;
	}
}

/*styles for devices in the tablet range*/
@media screen and (min-width: 47.9em) {
    body {
    	font-size: 18px;
    }
    header svg {
        margin: -15em 0 -5em 30vw;
    }

	/*styles for dues section*/
    .dues ul {
		margin: 0 2em;
	}
	
	.adobe-alert:visited {
		display: block;
	}
	.government ul {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
	}
	.government li {
		overflow: hidden;
		width: 50%;
		height: 15em;
		font-size: 0.75em;
	}
	.government li:first-child {
		width: 100%;
		height: 20em;
		font-size: 1em;
	}
}

/*styles for large screens*/
@media screen and (min-width: 75em) {
    body {
    	font-size: 20px;
		line-height: 1.4em;
    }
	header div {
		background-position: 100% -3em, center;
	}
    
}