article {
	display: flex;
}
ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li {
	margin: .8em;
	padding: 0;
}
iframe {
	width: 1280px;
	height: 720px;
}
.side-panel {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.video-details {
	margin: 1.2em auto;
  	width: 42em;
	color: rgb(66,66,66);
}
.liked	{
	width: 4em;
	height: 4em;
	border-radius: 50%;
	background-color: red;
}
.action	{
	width: 4em;
	height: 4em;
	border-radius: 50%;
	background-color: blue;
}