
.channel-element {
	display: flex;
	align-items: flex-start;
	background-color: rgb(250,250,250);
	box-shadow: 1px 1px 6px #ccc;
	padding: .8em;
	margin: .8em 0;
	font-size: .8em;
}

img {
	max-width: 4em;
	border-radius: 50%;
	display: inline-block;;
}

h4 {
	display: inline-block;;
}