* { margin:0; padding:0; box-sizing: border-box; }
body {
	background-color: #F7F7F7;
	color: #2E2E2E;
	font-size:18px;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}